Repository gjeusel/neatpush: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, mypy, uv lock file

.pre-commit-config.yaml:

fail_fast: false

repos:
  - repo: local
    hooks:
      - id: lint
        name: Lint
        entry: make lint
        types: [python]
        language: system
        pass_filenames: false

      - id: mypy
        name: Mypy
        entry: make mypy
        types: [python]
        language: system
        pass_filenames: false

      - id: uv lock file
        name: uv lock file
        language: system
        entry: uv lock --locked
        files: ^pyproject.toml$

wip: ci
  .github/workflows/ci.yml
  .github/workflows/smokeshow.yml
Due: none

fix(pydantic)
  neatpush/config.py
  neatpush/manga.py
Due: lint, mypy

fix(lint)
  pyproject.toml
Due: uv lock file

fix(pre-commit)
  .pre-commit-config.yaml
Due: none

upt(dep): use custom s3 client
  neatpush/__main__.py
  neatpush/app.py
  neatpush/manga.py
  neatpush/s3.py
  pyproject.toml
  tests/test_orchestration.py
  uv.lock
Due: lint, mypy, uv lock file

fix(ci)
  .github/workflows/ci.yml
  Makefile
  neatpush/s3.py
  pyproject.toml
  uv.lock
Due: lint, mypy, uv lock file

fix(ci)
  .github/workflows/ci.yml
Due: none

fix(docker)
  Dockerfile
Due: none

fix(ci): coverage
  .github/workflows/ci.yml
Due: none

fix(ci): coverage bis
  .github/workflows/ci.yml
Due: none

fix(ci): coverage bisbis
  .github/workflows/ci.yml
Due: none

fix(ci): coverage bis3
  .github/workflows/ci.yml
Due: none

fix(ci): coverage bis4
  .github/workflows/ci.yml
Due: none

fix(ci): coverage bis5
  .github/workflows/ci.yml
Due: none

fix(ci): disable auto deploy
  .github/workflows/ci.yml
Due: none

fix(ci): coverage bis6
  .github/workflows/ci.yml
Due: none

fix(ci): coverage bis7
  .github/workflows/ci.yml
Due: none

imp(ci)
  .github/workflows/ci.yml
Due: none

fix(ci): coverage bis8
  .github/workflows/ci.yml
Due: none

imp(ci): docker build only on main
  .github/workflows/ci.yml
Due: none

fix(ci): coverage bis09
  .github/workflows/ci.yml
Due: none

fix(vscode)
  .vscode/extensions.json
  .vscode/settings.json
Due: none

fix(README)
  README.md
Due: none

fix(ci): deploy
  .github/workflows/ci.yml
Due: none

upt(docker)
  .dockerignore
  neatpush/__main__.py
  pyproject.toml
  uv.lock
Due: lint, mypy, uv lock file

upt(Dockerfile): uv version
  Dockerfile
Due: none

upt(s3-upload): make it public
  neatpush/manga.py
  neatpush/s3.py
  uv.lock
Due: lint, mypy
